header {
  padding-bottom: 20px;
  font-family: 'Zilla Slab', serif;
  font-size: 40px;
}

#rndnumbox,
#winloss {
  background-color: lightgrey;
  width: 150px;
  height: 70px;
  margin-bottom: 20px;
}

#buttonsbox{
  padding: 20px;
}

#currentScore {
  background-color: lightblue;
  height: 30px;
  width: 140px;
  padding-left: 40px;
}
